body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpeg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    color: #ff4081;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ff4081;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #e73170;
}

#messages {
    margin-top: 20px;
    max-height: 150px;
    overflow-y: auto;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.slide {
    width: 300px;
    height: auto;
}

#cake {
    position: relative;
    margin-top: 20px;
}

.candle {
    width: 20px;
    position: absolute;
    top: -10px;
}
